In [ ]:
import pandas as pd

In [3]:
iris = pd.read_csv(r"./data/iris.csv")

In [7]:
iris.head()

   150    4  setosa  versicolor  virginica
0  5.1  3.5     1.4         0.2          0
1  4.9  3.0     1.4         0.2          0
2  4.7  3.2     1.3         0.2          0
3  4.6  3.1     1.5         0.2          0
4  5.0  3.6     1.4         0.2          0

In [8]:
iris.columns

Index(['150', '4', 'setosa', 'versicolor', 'virginica'], dtype='object')

In [9]:
iris.index

RangeIndex(start=0, stop=150, step=1)

In [11]:
sales = pd.read_excel(r"./data/全球超市订单数据.xlsx")

In [12]:
sales.head(3)

,行 ID,订单 ID,订购日期,装运日期,装运方式,客户 ID,客户名称,细分市场,邮政编码 (Postal Code),城市 (City),...,子类别,产品名称,销售额,数量,折扣,利润,装运成本,订单优先级,年份,月份
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,一级,AB-100151402,Aaron Bergman,消费者,73120.0,Oklahoma City,...,电话,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,高,2014,11
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,二级,JR-162107,Justin Ritter,公司,NaN,Wollongong,...,椅子,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,紧急,2014,2
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,一级,CR-127307,Craig Reiter,消费者,NaN,Brisbane,...,电话,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,媒介,2014,10

In [13]:
sales.columns

Index(['行 ID', '订单 ID', '订购日期', '装运日期', '装运方式', '客户 ID', '客户名称', '细分市场',
       '邮政编码 (Postal Code)', '城市 (City)', '省/市/自治区 (State/Province)',
       '国家/地区 (Country)', '地区', '市场', '产品 ID', '类别', '子类别', '产品名称', '销售额',
       '数量', '折扣', '利润', '装运成本', '订单优先级', '年份', '月份'],
      dtype='object')

In [ ]:
sales.index

RangeIndex(start=0, stop=51290, step=1)

In [1]:
import pandas as pd
import pymysql
conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='123456',
    database='world',
    charset='utf8'
)
df = pd.read_sql('select * from city', con = conn)

In [2]:
df.head()

   ID            Name CountryCode       District  Population
0   1           Kabul         AFG          Kabol     1780000
1   2        Qandahar         AFG       Qandahar      237500
2   3           Herat         AFG          Herat      186800
3   4  Mazar-e-Sharif         AFG          Balkh      127800
4   5       Amsterdam         NLD  Noord-Holland      731200