In [3]:
import pandas as pd
import numpy as np

# 1.series

In [8]:
s1 = pd.Series([1,'a',2.4,5])

In [4]:
s1

0      1
1      a
2    2.4
3      5
dtype: object

In [5]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
s1.values

array([1, 'a', 2.4, 5], dtype=object)

## 1.2创建索引

In [9]:
s2 = pd.Series([1,'a',2.4,5], index=['d','b','a','c'])
s2

d      1
b      a
a    2.4
c      5
dtype: object

In [10]:
s2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

## 1.3使用词典创建series

In [6]:
sdata = {'german':1000,'england':800,'french':200}
s3 = pd.Series(sdata)
s3

german     1000
england     800
french      200
dtype: int64

In [7]:
s3.index

Index(['german', 'england', 'french'], dtype='object')

In [8]:
s3.values

array([1000,  800,  200], dtype=int64)

In [9]:
s3['german']

1000

In [10]:
type(s3['german'])

numpy.int64

In [11]:
s3[['french','gertman']]

c:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:1152: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

french     200.0
gertman      NaN
dtype: float64

In [12]:
type(s3[['french','gertman']])

c:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:1152: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

pandas.core.series.Series

# 2.DataFrame

In [13]:
data = {
    'german':['Ohio','Ohio','Ohio','Nevada','Nevada'],
    'french':[2000,2001,2002,2001,2002],
    'england':[1.5,1.7,3.6,2.4,2.9]
}
df = pd.DataFrame(data)

In [14]:
df

   german  french  england
0    Ohio    2000      1.5
1    Ohio    2001      1.7
2    Ohio    2002      3.6
3  Nevada    2001      2.4
4  Nevada    2002      2.9

In [15]:
df.dtypes

german      object
french       int64
england    float64
dtype: object

In [16]:
df.columns

Index(['german', 'french', 'england'], dtype='object')

In [17]:
df.index

RangeIndex(start=0, stop=5, step=1)

# 3.从DataFrame中查询出Series

In [20]:
df['french']

0    2000
1    2001
2    2002
3    2001
4    2002
Name: french, dtype: int64

In [21]:
type(df['french'])

pandas.core.series.Series

In [22]:
df[['french','german']]

   french  german
0    2000    Ohio
1    2001    Ohio
2    2002    Ohio
3    2001  Nevada
4    2002  Nevada

In [23]:
type(df[['french','german']])

pandas.core.frame.DataFrame

In [24]:
df.loc[1]

german     Ohio
french     2001
england     1.7
Name: 1, dtype: object

In [25]:
type(df.loc[1])

pandas.core.series.Series

In [26]:
df.loc[1:3]

   german  french  england
1    Ohio    2001      1.7
2    Ohio    2002      3.6
3  Nevada    2001      2.4

In [27]:
type(df.loc[1:3])

pandas.core.frame.DataFrame