In [1]:
import pandas as pd

# 0.读取excel数据到dataframe

In [2]:
dpath = "./data/全球超市订单数据.xlsx"
df_raw = pd.read_excel(dpath, nrows=1200)

In [4]:
df = df_raw.copy()
df.head(2)

,行 ID,订单 ID,订购日期,装运日期,装运方式,客户 ID,客户名称,细分市场,邮政编码 (Postal Code),城市 (City),...,子类别,产品名称,销售额,数量,折扣,利润,装运成本,订单优先级,year,month
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,一级,AB-100151402,Aaron Bergman,消费者,73120.0,Oklahoma City,...,电话,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,高,2014,11
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,二级,JR-162107,Justin Ritter,公司,NaN,Wollongong,...,椅子,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,紧急,2014,2

# 1.直接赋值的方法

In [11]:
# df.loc[:, "装运方式"] = df["装运方式"].str.replace("级", "")
df["装运方式"] = df["装运方式"].str.replace("级", "等级")

In [12]:
df.head(2)

,行 ID,订单 ID,订购日期,装运日期,装运方式,客户 ID,客户名称,细分市场,邮政编码 (Postal Code),城市 (City),...,子类别,产品名称,销售额,数量,折扣,利润,装运成本,订单优先级,year,month
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,一等级,AB-100151402,Aaron Bergman,消费者,73120.0,Oklahoma City,...,电话,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,高,2014,11
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,二等级,JR-162107,Justin Ritter,公司,NaN,Wollongong,...,椅子,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,紧急,2014,2

In [6]:
def func(x):
    if x > 10000:
        return '优秀'
    elif x > 5000:
        return '一般'
    return '须努力'
df["销售评价"] = df["销售额"].apply(func)
df.head()

,行 ID,订单 ID,订购日期,装运日期,装运方式,客户 ID,客户名称,细分市场,邮政编码 (Postal Code),城市 (City),...,产品名称,销售额,数量,折扣,利润,装运成本,订单优先级,year,month,销售评价
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,一级,AB-100151402,Aaron Bergman,消费者,73120.0,Oklahoma City,...,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,高,2014,11,须努力
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,二级,JR-162107,Justin Ritter,公司,NaN,Wollongong,...,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,紧急,2014,2,须努力
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,一级,CR-127307,Craig Reiter,消费者,NaN,Brisbane,...,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,媒介,2014,10,一般
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,一级,KM-1637548,Katherine Murray,家庭办公室,NaN,柏林,...,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,媒介,2014,1,须努力
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,当日,RH-9495111,Rick Hansen,消费者,NaN,达喀尔,...,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,紧急,2014,11,须努力

# 3.assign方法(无)

# 4.按条件分组分别赋值

In [9]:
df["利润率评价"] = ''
df.loc[df["利润"]/df["销售额"]>0.15, "利润率评价"] = "高利润"
df.loc[df["利润"]/df["销售额"]<=0.15, "利润率评价"] = "低利润"

In [12]:
df["利润率评价"].value_counts()

高利润    682
低利润    518
Name: 利润率评价, dtype: int64

In [13]:
df.head()

,行 ID,订单 ID,订购日期,装运日期,装运方式,客户 ID,客户名称,细分市场,邮政编码 (Postal Code),城市 (City),...,销售额,数量,折扣,利润,装运成本,订单优先级,year,month,销售评价,利润率评价
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,一级,AB-100151402,Aaron Bergman,消费者,73120.0,Oklahoma City,...,221.980,2,0.0,62.1544,40.77,高,2014,11,须努力,高利润
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,二级,JR-162107,Justin Ritter,公司,NaN,Wollongong,...,3709.395,9,0.1,-288.7650,923.63,紧急,2014,2,须努力,低利润
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,一级,CR-127307,Craig Reiter,消费者,NaN,Brisbane,...,5175.171,9,0.1,919.9710,915.49,媒介,2014,10,一般,高利润
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,一级,KM-1637548,Katherine Murray,家庭办公室,NaN,柏林,...,2892.510,5,0.1,-96.5400,910.16,媒介,2014,1,须努力,低利润
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,当日,RH-9495111,Rick Hansen,消费者,NaN,达喀尔,...,2832.960,8,0.0,311.5200,903.04,紧急,2014,11,须努力,低利润