In [2]:
import pandas as pd

# 0.数据读取

In [3]:
df = pd.read_excel('./data/全球超市订单数据.xlsx')

In [3]:
df.head(2)

,行 ID,订单 ID,订购日期,装运日期,装运方式,客户 ID,客户名称,细分市场,邮政编码 (Postal Code),城市 (City),...,子类别,产品名称,销售额,数量,折扣,利润,装运成本,订单优先级,year,month
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,一级,AB-100151402,Aaron Bergman,消费者,73120.0,Oklahoma City,...,电话,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,高,2014,11
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,二级,JR-162107,Justin Ritter,公司,NaN,Wollongong,...,椅子,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,紧急,2014,2

# 1.汇总类统计

In [4]:
df.describe()

,行 ID,邮政编码 (Postal Code),销售额,数量,折扣,利润,装运成本,year,month
count,51290.00000,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,55190.379428,246.490581,3.476545,0.142908,28.610982,26.478567,2013.777208,7.516027
std,14806.29199,32063.693350,487.565361,2.278766,0.212280,174.340972,57.251373,1.098931,3.300526
min,1.00000,1040.000000,0.444000,1.000000,0.000000,-6599.978000,1.002000,2012.000000,1.000000
25%,12823.25000,23223.000000,30.758625,2.000000,0.000000,0.000000,2.610000,2013.000000,5.000000
50%,25645.50000,56430.500000,85.053000,3.000000,0.000000,9.240000,7.790000,2014.000000,8.000000
75%,38467.75000,90008.000000,251.053200,5.000000,0.200000,36.810000,24.450000,2015.000000,10.000000
max,51290.00000,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000,2015.000000,12.000000

In [4]:
df["销售额"].mean()

246.4905812025821

In [5]:

df["销售额"].max()

22638.48

In [6]:
df["销售额"].min()

0.44399999999999995

# 2.唯一去重和按值计算

In [8]:
df["细分市场"].unique()

array(['消费者', '公司', '家庭办公室'], dtype=object)

In [10]:
df["客户 ID"].unique()

array(['AB-100151402', 'JR-162107', 'CR-127307', ..., 'ZD-219251402',
       'AS-285147', 'MC-1810093'], dtype=object)

In [12]:
df["订单 ID"].unique()

array(['CA-2014-AB10015140-41954', 'IN-2014-JR162107-41675',
       'IN-2014-CR127307-41929', ..., 'IN-2015-KH1633058-42154',
       'US-2014-ZD21925140-41765', 'MX-2013-MC1810093-41416'],
      dtype=object)

In [13]:
len(df["客户 ID"].unique())

17415

In [14]:
len(df["订单 ID"].unique())

25728

In [15]:
df["细分市场"].value_counts()

消费者      26518
公司       15429
家庭办公室     9343
Name: 细分市场, dtype: int64

# 3.相关系数和协方差

In [16]:
df.cov()

,行 ID,邮政编码 (Postal Code),销售额,数量,折扣,利润,装运成本,year,month
行 ID,2.192263e+08,8.946577e+05,-316835.451413,-5853.322779,275.315184,-49141.164258,-32577.591998,-14.984529,-1416.548860
邮政编码 (Postal Code),8.946577e+05,1.028080e+09,-476682.766590,910.415885,386.870404,-225045.849445,-48134.584774,163.578168,2629.578345
销售额,-3.168355e+05,-4.766828e+05,237719.980797,348.399149,-8.975743,41219.309486,21433.175740,-1.556411,2.979328
数量,-5.853323e+03,9.104159e+02,348.399149,5.192776,-0.009614,41.462382,35.460246,-0.012644,0.155282
折扣,2.753152e+02,3.868704e+02,-8.975743,-0.009614,0.045063,-11.713013,-0.949814,-0.001375,-0.000126
利润,-4.914116e+04,-2.250458e+05,41219.309486,41.462382,-11.713013,30394.774483,3537.590174,0.503164,0.099449
装运成本,-3.257759e+04,-4.813458e+04,21433.175740,35.460246,-0.949814,3537.590174,3277.719738,-0.197238,0.936447
year,-1.498453e+01,1.635782e+02,-1.556411,-0.012644,-0.001375,0.503164,-0.197238,1.207650,-0.039957
month,-1.416549e+03,2.629578e+03,2.979328,0.155282,-0.000126,0.099449,0.936447,-0.039957,10.893473

In [17]:
df.corr()

,行 ID,邮政编码 (Postal Code),销售额,数量,折扣,利润,装运成本,year,month
行 ID,1.000000,0.009671,-0.043889,-0.173483,0.087594,-0.019037,-0.038431,-0.000921,-0.028987
邮政编码 (Postal Code),0.009671,1.000000,-0.023854,0.012761,0.058443,-0.029961,-0.025491,0.004539,0.024958
销售额,-0.043889,-0.023854,1.000000,0.313577,-0.086722,0.484918,0.767835,-0.002905,0.001851
数量,-0.173483,0.012761,0.313577,1.000000,-0.019875,0.104365,0.271804,-0.005049,0.020646
折扣,0.087594,0.058443,-0.086722,-0.019875,1.000000,-0.316490,-0.078153,-0.005894,-0.000180
利润,-0.019037,-0.029961,0.484918,0.104365,-0.316490,1.000000,0.354423,0.002626,0.000173
装运成本,-0.038431,-0.025491,0.767835,0.271804,-0.078153,0.354423,1.000000,-0.003135,0.004956
year,-0.000921,0.004539,-0.002905,-0.005049,-0.005894,0.002626,-0.003135,1.000000,-0.011016
month,-0.028987,0.024958,0.001851,0.020646,-0.000180,0.000173,0.004956,-0.011016,1.000000

In [18]:
df["销售额"].corr(df["数量"])

0.3135771809547907

In [19]:
df["数量"].corr(df["折扣"])

-0.019874695147652964