In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("./data/全球超市订单数据.xlsx")
df.head(2)

,行 ID,订单 ID,订购日期,装运日期,装运方式,客户 ID,客户名称,细分市场,邮政编码 (Postal Code),城市 (City),...,子类别,产品名称,销售额,数量,折扣,利润,装运成本,订单优先级,year,month
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,一级,AB-100151402,Aaron Bergman,消费者,73120.0,Oklahoma City,...,电话,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,高,2014,11
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,二级,JR-162107,Justin Ritter,公司,NaN,Wollongong,...,椅子,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,紧急,2014,2

In [3]:
df.count()

行 ID                        51290
订单 ID                       51290
订购日期                        51290
装运日期                        51290
装运方式                        51290
客户 ID                       51290
客户名称                        51290
细分市场                        51290
邮政编码 (Postal Code)           9994
城市 (City)                   51290
省/市/自治区 (State/Province)    51290
国家/地区 (Country)             51290
地区                          51290
市场                          51290
产品 ID                       51290
类别                          51290
子类别                         51290
产品名称                        51290
销售额                         51290
数量                          51290
折扣                          51290
利润                          51290
装运成本                        51290
订单优先级                       51290
year                        51290
month                       51290
dtype: int64

In [4]:
df.set_index("客户 ID", inplace=True, drop=False)

In [5]:
df.head(2)

,行 ID,订单 ID,订购日期,装运日期,装运方式,客户 ID,客户名称,细分市场,邮政编码 (Postal Code),城市 (City),...,子类别,产品名称,销售额,数量,折扣,利润,装运成本,订单优先级,year,month
客户 ID,,,,,,,,,,,,,,,,,,,,,
AB-100151402,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,一级,AB-100151402,Aaron Bergman,消费者,73120.0,Oklahoma City,...,电话,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,高,2014,11
JR-162107,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,二级,JR-162107,Justin Ritter,公司,NaN,Wollongong,...,椅子,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,紧急,2014,2

In [6]:
df.count()

行 ID                        51290
订单 ID                       51290
订购日期                        51290
装运日期                        51290
装运方式                        51290
客户 ID                       51290
客户名称                        51290
细分市场                        51290
邮政编码 (Postal Code)           9994
城市 (City)                   51290
省/市/自治区 (State/Province)    51290
国家/地区 (Country)             51290
地区                          51290
市场                          51290
产品 ID                       51290
类别                          51290
子类别                         51290
产品名称                        51290
销售额                         51290
数量                          51290
折扣                          51290
利润                          51290
装运成本                        51290
订单优先级                       51290
year                        51290
month                       51290
dtype: int64

In [7]:
df.index

Index(['AB-100151402', 'JR-162107', 'CR-127307', 'KM-1637548', 'RH-9495111',
       'JM-156557', 'TS-2134092', 'MB-1808592', 'AB-100151402', 'AB-100151404',
       ...
       'ZD-219251408', 'HG-1502518', 'DB-132707', 'KH-1633058', 'KM-1637593',
       'KE-1642066', 'ZD-219251408', 'ZD-219251404', 'RB-1979518',
       'MC-1810093'],
      dtype='object', name='客户 ID', length=51290)

In [8]:
df.loc["AB-100151402"].head(2)

,行 ID,订单 ID,订购日期,装运日期,装运方式,客户 ID,客户名称,细分市场,邮政编码 (Postal Code),城市 (City),...,子类别,产品名称,销售额,数量,折扣,利润,装运成本,订单优先级,year,month
客户 ID,,,,,,,,,,,,,,,,,,,,,
AB-100151402,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,一级,AB-100151402,Aaron Bergman,消费者,73120.0,Oklahoma City,...,电话,Samsung Convoy 3,221.98,2,0.0,62.1544,40.77,高,2014,11
AB-100151402,40099,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,一级,AB-100151402,Aaron Bergman,消费者,73120.0,Oklahoma City,...,书架,"Sauder Facets Collection Library, Sky Alder Fi...",341.96,2,0.0,54.7136,25.27,高,2014,11

In [9]:
df.index.is_monotonic_increasing

False

In [10]:
df.index.is_unique

False

In [17]:
%timeit df.loc["AB-100151402"]

966 µs ± 65.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [12]:
df_sorted = df.sort_index()

In [13]:
df_sorted.head(2)

,行 ID,订单 ID,订购日期,装运日期,装运方式,客户 ID,客户名称,细分市场,邮政编码 (Postal Code),城市 (City),...,子类别,产品名称,销售额,数量,折扣,利润,装运成本,订单优先级,year,month
客户 ID,,,,,,,,,,,,,,,,,,,,,
AA-10315102,27030,ID-2015-AA10315102-42011,2015-01-07,2015-01-11,标准级,AA-10315102,Alex Avila,消费者,NaN,Bacolod City,...,设备,"Konica Calculator, Wireless",116.1675,3,0.25,35.6175,10.44,媒介,2015,1
AA-10315102,27029,ID-2015-AA10315102-42011,2015-01-07,2015-01-11,标准级,AA-10315102,Alex Avila,消费者,NaN,Bacolod City,...,标签,"Hon File Folder Labels, Laser Printer Compatible",23.7600,5,0.45,-10.4400,2.84,媒介,2015,1

In [14]:
df_sorted.index.is_monotonic_increasing

True

In [15]:
df_sorted.index.is_unique

False

In [16]:
%timeit df_sorted.loc["AB-100151402"]

124 µs ± 3.98 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

# 3.对齐功能

In [18]:
s1 = pd.Series([1,2,3], index=list("abc"))

In [19]:
s1

a    1
b    2
c    3
dtype: int64

In [20]:
s2 = pd.Series([2,3,4], index=list("bcd"))

In [21]:
s2

b    2
c    3
d    4
dtype: int64

In [22]:
s1 + s2

a    NaN
b    4.0
c    6.0
d    NaN
dtype: float64