In [25]:
import pandas as pd

In [26]:
df = pd.read_csv("./data/ml-25m/movies.csv")

In [27]:
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
movieId    62423 non-null int64
title      62423 non-null object
genres     62423 non-null object
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

In [29]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
movieId    62423 non-null int64
title      62423 non-null object
genres     62423 non-null object
dtypes: int64(1), object(2)
memory usage: 9.6 MB

In [30]:
df_cat = df.copy()
df_cat.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [31]:
df_cat["title"] = df_cat["title"].astype("category")

In [32]:
df_cat.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
movieId    62423 non-null int64
title      62423 non-null category
genres     62423 non-null object
dtypes: category(1), int64(1), object(1)
memory usage: 12.5 MB

In [33]:
df_cat.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [34]:
df_cat["title"].value_counts()

Rebirth (2011)                                             2
The Tunnel (1933)                                          2
Macbeth (2015)                                             2
Deranged (2012)                                            2
Aladdin (1992)                                             2
                                                          ..
Road Trip: Beer Pong (2009)                                1
Road Trip (2000)                                           1
Road Movie (1974)                                          1
Road Kill (2010)                                           1
"BLOW THE NIGHT!" Let's Spend the Night Together (1983)    1
Name: title, Length: 62325, dtype: int64

In [35]:
%timeit df.groupby("title").size()

60.4 ms ± 5.3 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [36]:
%timeit df_cat.groupby("title").size()

3.11 ms ± 634 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)