In [1]:
import pandas as pd

In [2]:
df_dict = pd.read_csv(r"D:\tianxingzhe\python\Tools\ECDICT-master\stardict.csv")

c:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_dict.shape

(3402564, 13)

In [4]:
df_dict.sample(10).head()

,word,phonetic,definition,translation,pos,collins,oxford,tag,bnc,frq,exchange,detail,audio
1231162,genus Pterocarpus,NaN,NaN,[网络] Pterocarpus属,NaN,NaN,NaN,NaN,0.0,0.0,s:genus pterocarpuss,NaN,NaN
3127458,transition speed,NaN,NaN,过渡飞行速率,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3385355,Yongyu-ri,NaN,NaN,龙游里,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
806679,detester,NaN,n. One who detes//,n. detest的变形,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
1418093,housan,NaN,NaN,[网络] 五星,NaN,NaN,NaN,NaN,NaN,NaN,s:housans,NaN,NaN

In [5]:
df_dict = df_dict[["word", "translation"]]
df_dict.head()

            word                                        translation
0             'a  na. 一\nn. 英文字母表的第一字母；【乐】A音\nart. 冠以不定冠词主要表示类别\...
1       'A' game                                    [网络] 游戏；一个游戏；一局
2     'Abbāsīyah                                    [地名] 阿巴西耶 ( 埃 )
3   'Abd al Kūrī                                [地名] 阿卜杜勒库里岛 ( 也门 )
4  'Abd al Mājid                                [地名] 阿卜杜勒马吉德 ( 苏丹 )

In [6]:
import requests

In [7]:
url = r"https://pandas.pydata.org/docs/user_guide/index.html"

In [8]:
html_cont = requests.get(url).text

In [9]:
html_cont[:100]

'\n<!DOCTYPE html>\n<html lang="en">\n<head>\n<meta charset="utf-8" />\n<meta name="viewport" content="wid'

In [10]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html_cont)
html_text = soup.get_text()

In [11]:
html_text[:500]

'\n\n\n\nUser Guide — pandas 2.0.2 documentation\n\n    document.documentElement.dataset.mode = localStorage.getItem("mode") || "";\n    document.documentElement.dataset.theme = localStorage.getItem("theme") || "light";\n  \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n                    window.ga = window.ga || function () {\n                        (ga.q = ga.q || []).push(arguments) };\n                    ga.l = +new Date;\n                    ga(\'create\', \'UA-27880019-2\', \'auto\');\n                    ga(\'set\', \'anonymizeIp\''

In [12]:
import re

In [13]:
word_list = re.split("""[ ,.\(\)/\n|\-:=\$\["']""", html_text)
word_list[:10]

['', '', '', '', 'User', 'Guide', '—', 'pandas', '2', '0']

In [14]:
with open("./data/stop_words.txt") as fin:
    stop_worlds = set(fin.read().split("\n"))
list(stop_worlds)[:10]

['a', 'west', 'about', 'open', 'many', 'and', 'only', 'send', 'the', 'why']

In [15]:
word_list_clean = []
for word in word_list:
    word = str(word).lower().strip()
    if not word or word.isnumeric() or len(word) <=1 or word in word_list:
        continue
    word_list_clean.append(word)
word_list_clean[:20]

['user',
 'guide',
 'documentelement',
 'localstorage',
 'getitem',
 'documentelement',
 'localstorage',
 'getitem',
 'date;',
 'ua',
 'anonymizeip',
 'documentation_options',
 'documentation_options',
 'documentation_options',
 'ctrl+k',
 'site',
 'navigation',
 'user',
 'guide',
 'api']

In [16]:
df_words = pd.DataFrame({
    "word": word_list_clean
})
df_words.head()

              word
0             user
1            guide
2  documentelement
3     localstorage
4          getitem

In [17]:
df_words.shape

(330, 1)

In [18]:
df_words = (
    df_words
    .groupby("word")["word"]
    .agg(count="size")
    .reset_index()
    .sort_values(by="count", ascending=False)
)
df_words.head()

          word  count
49   dataframe      6
64   duplicate      6
159  reshaping      6
201       user      6
132         na      6

In [20]:
df_merge = pd.merge(
    left = df_dict,
    right = df_words,
    left_on = "word",
    right_on = "word"
)

In [21]:
df_merge.sample(10)

             word                                        translation  count
139  spreadsheets               n. 电子制表软件, 电子数据表( spreadsheet的复数形式 )      1
135       sorting                               [计] 排序\n[经] 分类拣选, 整理      3
72     frequently                                       adv. 频繁, 经常地      3
15   categoricals  adj.\n无条件的，绝对的；断言的，清楚的，直截了当的(指陈述、理论等)\n(属于某一)类...      1
90      iterating                        v. 重复( iterate的现在分词 ); 反复申明      1
113           orc                                n. 虎鲸；乐队；妖魔（等于orca）      1
24    computation                   n. 计算, 计数, 计算结果\n[经] 计算, 估计, 计算法      1
153       twitter        n. 啁啾, 唧唧喳喳声\nvi. 啭, 啁啾, 颤抖\nvt. 嘁嘁喳喳地讲, 抖动      2
137        sphinx                         n. 史芬克斯(希腊神话人物), 人面狮身像, 天蛾      1
146          take  vt. 拿, 取, 抓, 带领, 获得, 就座, 接受, 吃, 吸引, 采取, 乘, 需要,...      1

In [22]:
df_merge.shape

(163, 3)

In [23]:
df_merge.to_excel("./data/dict.xlsx", index=False)